In [1]:
import xlwings as xw
import statsmodels.api as sm
import pandas as pd

In [3]:
book = xw.Book(r'F:\OneDrive\Rotman_MBA\Term_04\RSM2209_Financial_Statement_Analysis\Group_Assignment\Regression.xlsx')
sheet = book.sheets('Data')

In [23]:
test_sht = book.sheets('Sheet4')
test_sht.range('A:B').clear()

In [24]:
results_sht = book.sheets('TSLA_Regression_Result')
df_data = sheet.range('B6').options(pd.DataFrame, header=1, index=False, expand='table').value
df_data

      Quarter     CFO_t   CFO_t+1   CFO_t+2        NI   Q1   Q2   Q3
0  2016-03-31  -249.600   150.336   423.649  -282.300  1.0  0.0  0.0
1  2016-06-30   150.336   423.649  -448.200  -293.200  0.0  1.0  0.0
2  2016-09-30   423.649  -448.200   -69.800    21.878  0.0  0.0  1.0
3  2016-12-31  -448.200   -69.800  -200.200  -121.300  0.0  0.0  0.0
4  2017-03-31   -69.800  -200.200  -300.600  -330.300  1.0  0.0  0.0
5  2017-06-30  -200.200  -300.600   509.891  -336.400  0.0  1.0  0.0
6  2017-09-30  -300.600   509.891  -398.400  -619.400  0.0  0.0  1.0
7  2017-12-31   509.891  -398.400  -129.700  -675.400  0.0  0.0  0.0
8  2018-03-31  -398.400  -129.700  1391.040  -709.600  1.0  0.0  0.0
9  2018-06-30  -129.700  1391.040  1235.000  -717.500  0.0  1.0  0.0
10 2018-09-30  1391.040  1235.000  -640.000   311.000  0.0  0.0  1.0
11 2018-12-31  1235.000  -640.000   864.000   140.000  0.0  0.0  0.0
12 2019-03-31  -640.000   864.000   756.000  -702.000  1.0  0.0  0.0
13 2019-06-30   864.000   756.000  1425.000  -408.000  0.0  1.0  0.0
14 2019-09-30   756.000  1425.000  -440.000   143.000  0.0  0.0  1.0
15 2019-12-31  1425.000  -440.000   964.000   105.000  0.0  0.0  0.0
16 2020-03-31  -440.000   964.000  2400.000    16.000  1.0  0.0  0.0
17 2020-06-30   964.000  2400.000  3019.000   104.000  0.0  1.0  0.0
18 2020-09-30  2400.000  3019.000  1641.000   331.000  0.0  0.0  1.0
19 2020-12-31  3019.000  1641.000  2124.000   270.000  0.0  0.0  0.0
20 2021-03-31  1641.000  2124.000  3147.000   438.000  1.0  0.0  0.0
21 2021-06-30  2124.000  3147.000  4585.000  1142.000  0.0  1.0  0.0
22 2021-09-30  3147.000  4585.000       NaN  1618.000  0.0  0.0  1.0
23 2021-12-31  4585.000       NaN       NaN  2321.000  0.0  0.0  0.0

In [34]:
results_sht = book.sheets('F_Regression_Result')
df_data = sheet.range('K6').options(pd.DataFrame, header=1, index=False, expand='table').value
df_data

      Quarter    CFO_t  CFO_t+1  CFO_t+2       NI   Q1   Q2   Q3
0  2016-03-31   4149.0   7742.0   5161.0   2452.0  1.0  0.0  0.0
1  2016-06-30   7742.0   5161.0   2798.0   1970.0  0.0  1.0  0.0
2  2016-09-30   5161.0   2798.0   4336.0    957.0  0.0  0.0  1.0
3  2016-12-31   2798.0   4336.0   5615.0   -783.0  0.0  0.0  0.0
4  2017-03-31   4336.0   5615.0   4998.0   1592.0  1.0  0.0  0.0
5  2017-06-30   5615.0   4998.0   3147.0   2047.0  0.0  1.0  0.0
6  2017-09-30   4998.0   3147.0   3514.0   1572.0  0.0  0.0  1.0
7  2017-12-31   3147.0   3514.0   4972.0   2520.0  0.0  0.0  0.0
8  2018-03-31   3514.0   4972.0   5179.0   1736.0  1.0  0.0  0.0
9  2018-06-30   4972.0   5179.0   1357.0   1066.0  0.0  1.0  0.0
10 2018-09-30   5179.0   1357.0   3544.0    991.0  0.0  0.0  1.0
11 2018-12-31   1357.0   3544.0   6463.0   -116.0  0.0  0.0  0.0
12 2019-03-31   3544.0   6463.0   4732.0   1146.0  1.0  0.0  0.0
13 2019-06-30   6463.0   4732.0   2900.0    148.0  0.0  1.0  0.0
14 2019-09-30   4732.0   2900.0   -473.0    425.0  0.0  0.0  1.0
15 2019-12-31   2900.0   -473.0   9115.0  -1672.0  0.0  0.0  0.0
16 2020-03-31   -473.0   9115.0  11088.0  -1993.0  1.0  0.0  0.0
17 2020-06-30   9115.0  11088.0   4539.0   1117.0  0.0  1.0  0.0
18 2020-09-30  11088.0   4539.0   4492.0   2385.0  0.0  0.0  1.0
19 2020-12-31   4539.0   4492.0    756.0  -2788.0  0.0  0.0  0.0
20 2021-03-31   4492.0    756.0   7008.0   3262.0  1.0  0.0  0.0
21 2021-06-30    756.0   7008.0   3531.0    561.0  0.0  1.0  0.0
22 2021-09-30   7008.0   3531.0      NaN   1832.0  0.0  0.0  1.0
23 2021-12-31   3531.0      NaN      NaN  12282.0  0.0  0.0  0.0

In [42]:
results_sht = book.sheets('F_excl_2021Q4_Regression_Result')
df_data = sheet.range('T6').options(pd.DataFrame, header=1, index=False, expand='table').value
df_data

      Quarter    CFO_t  CFO_t+1  CFO_t+2      NI   Q1   Q2   Q3
0  2016-03-31   4149.0   7742.0   5161.0  2452.0  1.0  0.0  0.0
1  2016-06-30   7742.0   5161.0   2798.0  1970.0  0.0  1.0  0.0
2  2016-09-30   5161.0   2798.0   4336.0   957.0  0.0  0.0  1.0
3  2016-12-31   2798.0   4336.0   5615.0  -783.0  0.0  0.0  0.0
4  2017-03-31   4336.0   5615.0   4998.0  1592.0  1.0  0.0  0.0
5  2017-06-30   5615.0   4998.0   3147.0  2047.0  0.0  1.0  0.0
6  2017-09-30   4998.0   3147.0   3514.0  1572.0  0.0  0.0  1.0
7  2017-12-31   3147.0   3514.0   4972.0  2520.0  0.0  0.0  0.0
8  2018-03-31   3514.0   4972.0   5179.0  1736.0  1.0  0.0  0.0
9  2018-06-30   4972.0   5179.0   1357.0  1066.0  0.0  1.0  0.0
10 2018-09-30   5179.0   1357.0   3544.0   991.0  0.0  0.0  1.0
11 2018-12-31   1357.0   3544.0   6463.0  -116.0  0.0  0.0  0.0
12 2019-03-31   3544.0   6463.0   4732.0  1146.0  1.0  0.0  0.0
13 2019-06-30   6463.0   4732.0   2900.0   148.0  0.0  1.0  0.0
14 2019-09-30   4732.0   2900.0   -473.0   425.0  0.0  0.0  1.0
15 2019-12-31   2900.0   -473.0   9115.0 -1672.0  0.0  0.0  0.0
16 2020-03-31   -473.0   9115.0  11088.0 -1993.0  1.0  0.0  0.0
17 2020-06-30   9115.0  11088.0   4539.0  1117.0  0.0  1.0  0.0
18 2020-09-30  11088.0   4539.0   4492.0  2385.0  0.0  0.0  1.0
19 2020-12-31   4539.0   4492.0    756.0 -2788.0  0.0  0.0  0.0
20 2021-03-31   4492.0    756.0   7008.0  3262.0  1.0  0.0  0.0
21 2021-06-30    756.0   7008.0      NaN   561.0  0.0  1.0  0.0
22 2021-09-30   7008.0      NaN      NaN  1832.0  0.0  0.0  1.0

In [43]:
results_sht.range('A:G').clear()

In [44]:
# CFO_t = a + b * NI_t

Y = df_data[~df_data['CFO_t'].isna()]['CFO_t']
X = df_data[~df_data['CFO_t'].isna()]['NI']
X = sm.add_constant(X) # adding a constant

model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 

print_model = model.summary()

last_row = results_sht.range('A' + str(results_sht.cells.last_cell.row)).end('up').row

results_sht.range('A'+str(last_row + 3)).value = 'Model 1: CFO_t = a + b * NI_t'

results_as_html_01 = print_model.tables[0].as_html()
results_sht.range('A'+str(last_row + 5)).options(index=False).value = pd.read_html(results_as_html_01, header=0)[0]

results_as_html_02 = print_model.tables[2].as_html()
results_sht.range('A'+str(last_row + 15)).options(index=False).value = pd.read_html(results_as_html_02, header=0)[0]

results_as_html_03 = print_model.tables[1].as_html()
results_sht.range('A'+str(last_row + 20)).options(index=False).value = pd.read_html(results_as_html_03, header=0)[0]

print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  CFO_t   R-squared:                       0.200
Model:                            OLS   Adj. R-squared:                  0.162
Method:                 Least Squares   F-statistic:                     5.244
Date:                Wed, 23 Mar 2022   Prob (F-statistic):             0.0325
Time:                        00:05:45   Log-Likelihood:                -210.16
No. Observations:                  23   AIC:                             424.3
Df Residuals:                      21   BIC:                             426.6
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       3989.4103    571.060      6.986      0.000    2801.826    5176.995
NI             0.7527      0.329      2.290      0.032       0.069       1.436
==============================================================================
Omnibus:                        1.644   Durbin-Watson:                   1.571
Prob(Omnibus):                  0.439   Jarque-Bera (JB):                1.195
Skew:                           0.547   Prob(JB):                        0.550
Kurtosis:                       2.774   Cond. No.                     2.02e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.02e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [45]:
# CFO_t+1 = a + b * NI_t

Y = df_data[~df_data['CFO_t+1'].isna()]['CFO_t+1']
X = df_data[~df_data['CFO_t+1'].isna()]['NI']
X = sm.add_constant(X) # adding a constant

model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 

print_model = model.summary()

last_row = results_sht.range('A' + str(results_sht.cells.last_cell.row)).end('up').row

results_sht.range('A'+str(last_row + 3)).value = 'Model 2: CFO_t+1 = a + b * NI_t'

results_as_html_01 = print_model.tables[0].as_html()
results_sht.range('A'+str(last_row + 5)).options(index=False).value = pd.read_html(results_as_html_01, header=0)[0]

results_as_html_02 = print_model.tables[2].as_html()
results_sht.range('A'+str(last_row + 15)).options(index=False).value = pd.read_html(results_as_html_02, header=0)[0]

results_as_html_03 = print_model.tables[1].as_html()
results_sht.range('A'+str(last_row + 20)).options(index=False).value = pd.read_html(results_as_html_03, header=0)[0]


print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                CFO_t+1   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.050
Method:                 Least Squares   F-statistic:                  0.006193
Date:                Wed, 23 Mar 2022   Prob (F-statistic):              0.938
Time:                        00:05:45   Log-Likelihood:                -203.94
No. Observations:                  22   AIC:                             411.9
Df Residuals:                      20   BIC:                             414.1
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4706.2938    657.778      7.155      0.000    3334.194    6078.394
NI            -0.0299      0.380     -0.079      0.938      -0.822       0.762
==============================================================================
Omnibus:                        1.908   Durbin-Watson:                   1.778
Prob(Omnibus):                  0.385   Jarque-Bera (JB):                0.708
Skew:                           0.376   Prob(JB):                        0.702
Kurtosis:                       3.455   Cond. No.                     1.99e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.99e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [46]:
# CFO_t+2 = a + b_1 * NI_t

Y = df_data[~df_data['CFO_t+2'].isna()]['CFO_t+2']
X = df_data[~df_data['CFO_t+2'].isna()]['NI']
X = sm.add_constant(X) # adding a constant

model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 

print_model = model.summary()

last_row = results_sht.range('A' + str(results_sht.cells.last_cell.row)).end('up').row

results_sht.range('A'+str(last_row + 3)).value = 'Model 3: CFO_t+2 = a + b_1 * NI_t'

results_as_html_01 = print_model.tables[0].as_html()
results_sht.range('A'+str(last_row + 5)).options(index=False).value = pd.read_html(results_as_html_01, header=0)[0]

results_as_html_02 = print_model.tables[2].as_html()
results_sht.range('A'+str(last_row + 15)).options(index=False).value = pd.read_html(results_as_html_02, header=0)[0]

results_as_html_03 = print_model.tables[1].as_html()
results_sht.range('A'+str(last_row + 20)).options(index=False).value = pd.read_html(results_as_html_03, header=0)[0]

print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                CFO_t+2   R-squared:                       0.026
Model:                            OLS   Adj. R-squared:                 -0.025
Method:                 Least Squares   F-statistic:                    0.5128
Date:                Wed, 23 Mar 2022   Prob (F-statistic):              0.483
Time:                        00:05:45   Log-Likelihood:                -194.14
No. Observations:                  21   AIC:                             392.3
Df Residuals:                      19   BIC:                             394.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4763.7201    657.240      7.248      0.000    3388.100    6139.340
NI            -0.2660      0.371     -0.716      0.483      -1.043       0.511
==============================================================================
Omnibus:                        0.982   Durbin-Watson:                   2.012
Prob(Omnibus):                  0.612   Jarque-Bera (JB):                0.114
Skew:                           0.025   Prob(JB):                        0.945
Kurtosis:                       3.357   Cond. No.                     2.02e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.02e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [47]:
# CFO_t = a + b_1 * NI_t + b_2 * Q1 + b_3 * Q2 + b_4 * Q3

Y = df_data[~df_data['CFO_t'].isna()]['CFO_t']
X = df_data[~df_data['CFO_t'].isna()][['NI', 'Q1', 'Q2', 'Q3']]
X = sm.add_constant(X) # adding a constant

model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 

print_model = model.summary()

last_row = results_sht.range('A' + str(results_sht.cells.last_cell.row)).end('up').row

results_sht.range('A'+str(last_row + 3)).value = 'Model 4: CFO_t = a + b_1 * NI_t + b_2 * Q1 + b_3 * Q2 + b_4 * Q3'

results_as_html_01 = print_model.tables[0].as_html()
results_sht.range('A'+str(last_row + 5)).options(index=False).value = pd.read_html(results_as_html_01, header=0)[0]

results_as_html_02 = print_model.tables[2].as_html()
results_sht.range('A'+str(last_row + 15)).options(index=False).value = pd.read_html(results_as_html_02, header=0)[0]

results_as_html_03 = print_model.tables[1].as_html()
results_sht.range('A'+str(last_row + 20)).options(index=False).value = pd.read_html(results_as_html_03, header=0)[0]

print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  CFO_t   R-squared:                       0.454
Model:                            OLS   Adj. R-squared:                  0.333
Method:                 Least Squares   F-statistic:                     3.744
Date:                Wed, 23 Mar 2022   Prob (F-statistic):             0.0219
Time:                        00:05:46   Log-Likelihood:                -205.76
No. Observations:                  23   AIC:                             421.5
Df Residuals:                      18   BIC:                             427.2
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       3304.4406    958.979      3.446      0.003    1289.701    5319.180
NI             0.6274      0.343      1.831      0.084      -0.092       1.347
Q1          -901.0379   1433.728     -0.628      0.538   -3913.188    2111.112
Q2          1750.2692   1401.305      1.249      0.228   -1193.763    4694.301
Q3          2203.0795   1432.858      1.538      0.142    -807.243    5213.402
==============================================================================
Omnibus:                        1.625   Durbin-Watson:                   1.499
Prob(Omnibus):                  0.444   Jarque-Bera (JB):                0.440
Skew:                           0.105   Prob(JB):                        0.803
Kurtosis:                       3.644   Cond. No.                     9.13e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.13e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [48]:
# CFO_t+1 = a + b_1 * NI_t + b_2 * Q1 + b_3 * Q2 + b_4 * Q3

Y = df_data[~df_data['CFO_t+1'].isna()]['CFO_t+1']
X = df_data[~df_data['CFO_t+1'].isna()][['NI', 'Q1', 'Q2', 'Q3']]
X = sm.add_constant(X) # adding a constant

model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 

print_model = model.summary()

last_row = results_sht.range('A' + str(results_sht.cells.last_cell.row)).end('up').row

results_sht.range('A'+str(last_row + 3)).value = 'Model 5: CFO_t+1 = a + b_1 * NI_t + b_2 * Q1 + b_3 * Q2 + b_4 * Q3'

results_as_html_01 = print_model.tables[0].as_html()
results_sht.range('A'+str(last_row + 5)).options(index=False).value = pd.read_html(results_as_html_01, header=0)[0]

results_as_html_02 = print_model.tables[2].as_html()
results_sht.range('A'+str(last_row + 15)).options(index=False).value = pd.read_html(results_as_html_02, header=0)[0]

results_as_html_03 = print_model.tables[1].as_html()
results_sht.range('A'+str(last_row + 20)).options(index=False).value = pd.read_html(results_as_html_03, header=0)[0]

print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                CFO_t+1   R-squared:                       0.403
Model:                            OLS   Adj. R-squared:                  0.263
Method:                 Least Squares   F-statistic:                     2.871
Date:                Wed, 23 Mar 2022   Prob (F-statistic):             0.0551
Time:                        00:05:46   Log-Likelihood:                -198.26
No. Observations:                  22   AIC:                             406.5
Df Residuals:                      17   BIC:                             412.0
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2844.0959   1031.057      2.758      0.013     668.755    5019.436
NI            -0.4200      0.370     -1.136      0.272      -1.200       0.360
Q1          3506.7884   1542.440      2.274      0.036     252.525    6761.052
Q2          4000.5911   1507.360      2.654      0.017     820.339    7180.843
Q3           635.8868   1580.368      0.402      0.692   -2698.399    3970.172
==============================================================================
Omnibus:                        1.220   Durbin-Watson:                   1.731
Prob(Omnibus):                  0.543   Jarque-Bera (JB):                0.224
Skew:                          -0.090   Prob(JB):                        0.894
Kurtosis:                       3.461   Cond. No.                     8.92e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.92e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [49]:
# CFO_t = a + b_1 * NI_t + b_2 * Q1 + b_3 * Q2 + b_4 * Q3

Y = df_data[~df_data['CFO_t+2'].isna()]['CFO_t+2']
X = df_data[~df_data['CFO_t+2'].isna()][['NI', 'Q1', 'Q2', 'Q3']]
X = sm.add_constant(X) # adding a constant

model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 

print_model = model.summary()

last_row = results_sht.range('A' + str(results_sht.cells.last_cell.row)).end('up').row

results_sht.range('A'+str(last_row + 3)).value = 'Model 6: CFO_t+2 = a + b_1 * NI_t + b_2 * Q1 + b_3 * Q2 + b_4 * Q3'

results_as_html_01 = print_model.tables[0].as_html()
results_sht.range('A'+str(last_row + 5)).options(index=False).value = pd.read_html(results_as_html_01, header=0)[0]

results_as_html_02 = print_model.tables[2].as_html()
results_sht.range('A'+str(last_row + 15)).options(index=False).value = pd.read_html(results_as_html_02, header=0)[0]

results_as_html_03 = print_model.tables[1].as_html()
results_sht.range('A'+str(last_row + 20)).options(index=False).value = pd.read_html(results_as_html_03, header=0)[0]

print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                CFO_t+2   R-squared:                       0.354
Model:                            OLS   Adj. R-squared:                  0.193
Method:                 Least Squares   F-statistic:                     2.195
Date:                Wed, 23 Mar 2022   Prob (F-statistic):              0.116
Time:                        00:05:46   Log-Likelihood:                -189.83
No. Observations:                  21   AIC:                             389.7
Df Residuals:                      16   BIC:                             394.9
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       5281.7749   1067.611      4.947      0.000    3018.541    7545.009
NI            -0.1804      0.385     -0.469      0.646      -0.996       0.635
Q1          1325.6068   1598.693      0.829      0.419   -2063.470    4714.684
Q2         -2104.5526   1638.317     -1.285      0.217   -5577.629    1368.523
Q3         -1970.8020   1637.719     -1.203      0.246   -5442.611    1501.007
==============================================================================
Omnibus:                        2.180   Durbin-Watson:                   2.024
Prob(Omnibus):                  0.336   Jarque-Bera (JB):                0.791
Skew:                          -0.366   Prob(JB):                        0.673
Kurtosis:                       3.605   Cond. No.                     8.98e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.98e+03. This might indicate that there are
strong multicollinearity or other numerical problems.